body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color:black;
    color: white;
    overflow: auto;
  }
.main{
    display: flex;
    height: 100vh;
    padding: 0.9rem;
    
}
.sidebar{
    
    background-color:black;
    width: 360px;
    border-radius: 1rem;
}
.main-content{
    color: white;
    background-color: #121212;
    flex: 1;
    overflow: auto; 
    max-height: 100%;
    border-radius: 2rem;
    margin-left: 1rem;
   padding:0 1.5rem 0 1.5rem ;
}
.music-player{
    color: white;
    background-color:black;
   position: fixed;
   bottom: 0px;
   width: 100%;
   height: 72px;
}
a{
    color: white;
    text-decoration: none;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 2.5rem;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1.5rem;
}
.library{
    background-color:#121212;
    border-radius:1rem;
    height: 100%;
    margin-top: 0.5rem;
    
}
.lib-option{
    display: flex;
    padding: 0.5rem 0.75rem;
    
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.lib-option img{
  margin-right: 0.1rem ;
  margin-left: 1.1rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.lib-option i{
    margin-left: 1.5rem;
}
.lib-option a{
    margin-right: 3.5rem;
}
.icons{
    font-size: 1.25;
}
.box{
    background-color: #232323;
    height: 9rem;
    border-radius: 0.5rem;
    margin-top: 1.75rem;
    width: 22rem;
}
.box-p1{
    font-size: 1.1rem;
    margin-left: 1.2rem;
    word-spacing: 0.2rem; 
    padding-top: 0.5rem; 
    font-weight: 700;
    
}
.box-p2{
  font-size:1rem ;
  font-weight: 500;
  margin-left:1.2rem ;
  padding-top: 0.9rem;
}
button{
    border-radius: 3rem;
    height: 2.5rem;
    width: 10rem;
    margin-top: 1.3rem;
    margin-left: 1.2rem;
    justify-content: center;
}
.badge{
    font-size:1.1rem ;
    font-weight: 600;
}
.sticky-nav{
    position: sticky;
    top: 0;
    left: 100px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    display: flex;
    top: 0px;
    margin-left: 1rem;
    align-items: center;
    padding-bottom: 1rem;
   
    

}
.sticky-nav-icons {
 margin-left: 0.5rem;
 font-size: 1.6rem;
}
.nav-item{
    margin-right: 1.2rem;
}
.dark{
   background-color: #000;
   color: #ffff;
}
.dark:hover{
    background-color: white;
    color: black;
}
@media (max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
    
}
.card-title{
    font-weight: 700;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.5;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    width: 30%;
    border-top: 1px solid white;
    opacity: 0.4;

}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.album{
    width: 25%;
    background-color: black;

}
.player{
    width: 50%;
    background-color: black;

}
.controls{
    width: 25%;
    background-color: black;
    
}
.player-control-icon{
    height: 1rem;
    margin-left:2rem;
    opacity: 0.7;

}
.player-control-icon:hover{
    opacity: 1;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items:center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.progress-bar{
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-runable-track{
    appearance: none;
    height: 1rem;
    width:1rem ;
    background-color:#1bd760;
    border-radius: 50%;

}
.small-card img{
    width: 4.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    opacity: 0.5;
}
.small-card img:hover{
    opacity: 1;
}
.album{
    display: flex;
}
.small-content{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    opacity: 0.5;
}
.small-content:hover{
    font-size: 1.2rem;
    opacity: 1;
}
.add-song i{
    margin-top: 1.4rem;
    margin-left: 2rem;
    opacity: 0.5;
    
    
    
}
.add-song i:hover{
 opacity: 1;
 
}


  